.accordion {
  max-width: 55rem;
  margin: 0 auto;

  .accordion__close-button {
    display: flex;
    justify-content: end;
  }

  .field--name-localgov-paragraphs {
    border-top: 0.1rem solid var(--c-primary);
    margin-top: 1rem;
  }
}

.paragraph--type--localgov-accordion-pane {
  border-bottom: var(--c-primary) 0.1rem solid;
}

.basic-page .lgd-row__two-thirds .paragraph {
  .paragraph--type--localgov-accordion-pane {
    margin-bottom: var(--spacing-smallest);
  }

  .field--name-localgov-body-text {
    margin-bottom: var(--vertical-rhythm-spacing);
  }
}

.accordion-pane__title {
  display: flex;
  justify-content: space-between;

  h2, h3, h4, h5, h6 {
    margin-bottom: var(--spacing-smaller);
    margin-top: var(--spacing-smaller);
    width: 100%;
    text-decoration: none;
  }

  button {
    background-color:var(--color-white);
    width: 100%;
    border: none;
    color: var(--color-grey-dark);
    font-weight: var(--font-semibold);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .accordion-pane__more-icon,
    .accordion-pane__less-icon {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
      pointer-events: none;
    }

    .accordion-pane__more-icon {
      background-image: url('/themes/custom/brucecastle/images/icons/plus-circle.svg');
      height: 2rem;
      width: 2rem;
    }

    .accordion-pane__less-icon {
      background-image: url('/themes/custom/brucecastle/images/icons/minus-circle.svg');
      height: 2.4rem;
      width: 2.4rem;
    }

    &:hover,
    &:focus,
    &:active {
      color: var(--c-primary);
      text-decoration: none;

      .accordion-pane__more-icon {
        background-image: url('/themes/custom/brucecastle/images/icons/plus-circle-hover.svg');
      }

      .accordion-pane__less-icon {
        background-image: url('/themes/custom/brucecastle/images/icons/minus-circle-hover.svg');
      }
    }
  }
}

.accordion-pane__content {
  display: none;
}


.accordion-pane__content--open {
  display: block;
  padding: 0 var(--button-padding-horizontal);
}
