.accordion {
  max-width: 55rem;
  margin: 0 auto;

  .accordion__close-button {
    display: flex;
    justify-content: end;
  }

  .field--name-localgov-paragraphs {
    border-top: 0.1rem solid var(--c-primary);
    margin-top: 1rem;
  }
}

.paragraph--type--localgov-accordion-pane {
  border-bottom: var(--c-primary) 2px solid;
}

.accordion-pane__title {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-bottom: var(--spacing-smaller);
    margin-top: var(--spacing-smaller);
    width: 100%;
  }

  button {
    background-color: white;
    width: 100%;
    border: none;
    color: var(--color-grey-dark);
    font-weight: var(--font-semibold);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover,
    &:focus,
    &:active {
      color: var(--c-primary);
      text-decoration: none;

      .accordion-pane__more-icon {
        -webkit-mask: url('/themes/custom/brucecastle/images/icons/plus-circle-hover.svg') no-repeat center;
        mask: url('/themes/custom/brucecastle/images/icons/plus-circle-hover.svg') no-repeat center;
        background: var(--c-primary);
        height: 5rem;
        width: 5rem;
      }
    }
  }
}

.accordion-pane__more-icon {
  -webkit-mask: url('/themes/custom/brucecastle/images/icons/plus-circle.svg') no-repeat center;
  mask: url('/themes/custom/brucecastle/images/icons/plus-circle.svg') no-repeat center;
  background-color: var(--color-grey-dark);
  height: 5rem;
  width: 5rem;
}

.accordion-pane__less-icon {
  -webkit-mask: url('/themes/custom/brucecastle/images/icons/minus-circle.svg') no-repeat center;
  mask: url('/themes/custom/brucecastle/images/icons/minus-circle.svg') no-repeat center;
  background-color: var(--c-primary);
  height: 5rem;
  width: 5rem;
}

.accordion-pane__content {
  padding: 0 var(--button-padding-horizontal);
}
