@import '../../00-base/00-global/00-grid/_breakpoints.scss';
@import '../../00-base/00-global/_02-breakpoints.scss';

.banner {
  position: relative;
  margin-bottom: var(--spacing);
}

.banner__image img {
  width: 100%;
  object-fit: cover;
}

.banner--primary .banner__content {
  bottom: 0;
  margin: 0;
  width: 100%;
  max-width: none;
  padding-top: var(--spacing-smaller);
  padding-bottom: var(--spacing-smallest);
  padding-right: var(--spacing-large);
  padding-left: var(--spacing-large);
  color: var(--banner-content-text-color);
  background-color: var(--banner-content-bg-color);
}

.banner__content__title {
  font-size: 3.2rem;
  margin-bottom: var(--spacing-small);
}

@include medium {
  .banner {
    margin-bottom: var(--spacing-larger);
  }

  .banner--primary .banner__content {
    position: absolute;
    width: auto;
    max-width: calc(100% - 2.4rem);
  }
}

@include large {
  .banner--primary .banner__content {
    max-width: calc(50% - 56.6rem + 55rem);
    padding-top: var(--spacing-smaller);
    padding-bottom: var(--spacing-smallest);
    padding-right: var(--spacing-mega);
    padding-left: calc(50% - 56.6rem);
  }

  .banner__content__title {
    font-size: var(--font-size-h1);
  }
}
