[data-align="right"],[data-align="center"]{display:-ms-flexbox;display:flex;-ms-flex-direction:row;flex-direction:row}[data-align="right"]{-ms-flex-pack:end;justify-content:flex-end}[data-align="center"]{-ms-flex-pack:center;justify-content:center}

