.block-local-tasks-block {
  position: fixed;
  bottom: 2rem;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);

  & > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    li {
      padding: 0;
      margin: 0;
      margin-bottom: 1rem;

      &::before {
        content: none;
      }

      a {
        display: block;
        padding: 0.5rem 2rem;
        border: 0.2rem solid var(--c-secondary);
        min-width: 10rem;
        text-align: center;

        &.is-active {
          background-color: var(--c-white);
        }
      }
    }
  }
}
