@import '../../00-base/00-global/00-grid/_breakpoints.scss';
@import '../../00-base/00-global/_02-breakpoints.scss';

.localgov-event {
  .field--name-body {
    margin: 2rem 0;
  }

  .basic-page__side-menu {
    margin-top: 0;
    margin-bottom: var(--spacing-small);
  }
}

@include medium {
  .localgov_event__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.localgov_event__location {
  display: flex;
  margin: 1rem 1rem 1rem 0;

  img {
    height: 2rem;
    width: 2rem;
  }

  p {
    margin-left: 1rem;

    span {
      margin-top: 1rem;
    }
  }
}

.localgov_event__dates {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  img {
    height: 2rem;
    width: 2rem;
  }
}

.localgov_event__date {
  display: flex;

  p {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
  }

  p.localgov_event__date__to {
    margin: 0 1rem 0 0;
  }
}

// event categories/tags
.localgov_event__categories {
  margin-bottom: 1rem;

  .field__label {
    display: none;
  }

  .field__items {
    display: flex;
    flex-wrap: wrap;
  }
}

.event-page__sidebar {
  .field__item,
  .localgov_event__call-to-action {
    background-color: var(--button-bg-color);
    padding: var(--button-padding-horizontal) var(--button-padding-vertical);
    margin: 0.5rem 0.5rem 0.5rem 0;
    font-size: var(--font-size-small);
    border: var(--border);

    &:hover {
      background-color: var(--button-bg-color-hover);
      color: var(--button-text-color-hover);
      text-decoration: underline;
    }
  }

  .localgov_event__call-to-action  {
    color: var(--button-text-color);
    text-decoration: none;
  }

  .field__item {
    a {
      color: var(--button-text-color);
      text-decoration: none;
    }

    &:hover {
      a {
        color: var(--button-text-color-hover);
      }
    }
  }
}

.localgov_event__call-to-action {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;

  .localgov_event__call-to-action__chevron {
    background-image: url('/themes/custom/brucecastle/images/icons/chevron-white.svg');
    background-repeat: no-repeat;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-self: center;
  }

  &:hover {
    .localgov_event__call-to-action__chevron {
      background-image: url('/themes/custom/brucecastle/images/icons/chevron-red.svg');
    }
  }
}

.localgov_event__back-link {
  display: flex;

  img {
    transform: scaleX(-1);
    margin-right: 0.5rem
  }
}
