// Color variables - it is better to use the colors in
// components/00-base/01-colors/_01-colors-used.scss rather than
// these colors directly.
$black: #000;
$off-black: #191919;
$grey: #949494;
$light-grey: #DDDEDE;
$white: #fff;
$bg-color: #f5f5f0;

// Brand Colours
$brand-primary: #A4343A;
$brand-secondary: #006980;
$brand-tertiary: #493655;

// Secondary brand colours
$brand-tertiary-tint: #EDEBEE;
$brand-accent: #B78B20;

// Functional Palette
$focus-yellow: #FADC4B;

// Misc
$form-border: $brand-secondary;
$form-bg: #eee;


// Buttons
//// Primary
$button-default-bg: $brand-secondary;
$button-default-color: $white;
$button-default-hover-bg: $white;
$button-default-hover-color: $brand-secondary;
$button-default-outline: $brand-secondary;
$button-default-active-color: $brand-secondary;
$button-default-active-bg: $white;

//// Secondary
$button-secondary-bg: transparent;
$button-secondary-color: $white;
$button-secondary-focus-bg: $focus-yellow;
$button-secondary-focus-color: $black;
$button-secondary-outline: $black;
$button-secondary-active-color: $black;

