@import '../../00-base/00-global/00-grid/_breakpoints.scss';
@import '../../00-base/00-global/_02-breakpoints.scss';

.events-listing {
  .lgd-region--content {
    width: 100%;
  }
}

.events-listing__filters {
  .lgd-region {
    width: 100%;
  }

  form {
    display: flex;
    flex-wrap: wrap;

    .form-item-categories {
      border: none;
      padding: 0;
      order: 4;
      margin-top: 2.4rem;

      label {
        display: none;
      }

      .form-select ul {
        list-style: none;

        li {
          display: inline-block;
          margin-bottom: 1.2rem;
          margin-right: 1.2rem;
        }

        .bef-link {
          display: inline-block;
          background-color: var(--c-primary);
          border: 0.1rem solid transparent;
          color: var(--c-text-inverse);
          padding: 1.2rem 2.4rem;
          text-decoration: none;
          display: inline-grid;
          float: none;

          &:hover,
          &:focus {
            background-color: var(--c-white);
            border-color: var(--c-primary);
            color: var(--c-primary);
            text-decoration: underline;
            cursor: pointer;
            box-shadow: none;
            outline: none;
          }
        }

        .bef-link--selected {
          font-weight: 700;
          text-decoration: underline;
        }
      }
    }

    .date-picker {
      border: none;
      padding: 0;

      legend {
        display: none;
      }

      .form-item {
        margin-right: 1rem;
        margin-bottom: 1rem;

        &:first-child {
          margin-top: 2.4rem;
        }
      }
    }

    .form-item-pick-a-date,
    .date-picker {
      max-width: 25rem;
    }

    .form-actions {
      margin-bottom: 2.4rem;
      width: 100%;
      order: 5;

      .button {
        font-size: var(--font-size);
      }

      input[value="Apply"] {
        display: none;
      }
    }
  }

  @include large {
    form {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }

    .form-item-pick-a-date {
      order: 1;
    }

    .date-picker {
      order: 2;
      margin-left: 1rem;
    }

    form .form-actions {
      order: 3;
      margin-top: 2.4rem;
    }

    .form-item-pick-a-date,
    .date-picker,
    form .form-actions {
      width: 20%;
    }

    .form-item-categories {
      order: 4;
      width: 40%;
      margin-top: 1.2rem;
    }
  }
}

.events-listing__content {
  background-color: var(--c-bg-color-grey);
  width: 100%;
}

.lgd-footer.events-listing__footer {
  margin-top: 0;
}

.event-teaser {
  width: 100%;
  display: block;
  padding: 2rem;
  background-color: white;
  margin: 2rem 0;
  min-height: 30rem;

  .views-field-body img {
    display: none;
  }
}

.event-teaser__cta {
  width: 7rem;
  background-color: var(--c-primary);
}

.views-field-localgov-event-image img,
.media--view-mode-localgov-event-thumbnail img {
  float: none;
  margin-bottom: 2rem;

  @media screen and (min-width: 48rem) {
    float: left;
    margin-bottom: 1rem;
  }
}
