@import '../../00-base/00-global/00-grid/_breakpoints.scss';
@import '../../00-base/00-global/_02-breakpoints.scss';

.pull-out-quote {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding: var(--spacing-large);
  border-left: none;
  text-align: center;
  color: var(--c-text-inverse);
  background-color: var(--quote-bg-color);
  position: relative;
}

.pull-out-quote--open,
.pull-out-quote--close {
  opacity: 0.5;
  position: relative;
}

.pull-out-quote--open {
  top: 0;
  left: calc(-50% + 3.6rem);
}

.pull-out-quote--close {
  bottom: 0;
  right: calc(-50% + 3.6rem);
}

.pull-out-quote__content {
  margin: 0;
  font-size: var(--font-size-large);
  font-family: var(--font-secondary);
  font-weight: 400;
  font-style: italic;
  margin-top: var(--spacing-large);
}

.pull-out-quote__author {
  margin-top: var(--vertical-rhythm-spacing);
  margin-bottom: var(--spacing-large);
  color: var(--quote-author-color);
}

@include large {
  .pull-out-quote {
    padding: 8rem 9.5rem 5rem;
  }

  .pull-out-quote--open,
  .pull-out-quote--close {
    position: absolute;
  }

  .pull-out-quote--open {
    top: 4.5rem;
    left: 6.5rem;
  }

  .pull-out-quote--close {
    bottom: 4.5rem;
    right: 6.5rem;
  }

  .pull-out-quote__content {
    margin-top: 0;
  }

  .pull-out-quote__author {
    margin-bottom: 0;
  }
}
