@import '../../00-base/00-global/00-grid/_breakpoints.scss';
@import '../../00-base/00-global/_02-breakpoints.scss';

.information-box {
  border: 0.1rem solid var(--c-tertiary);
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

.information-box__title {
  background-color: var(--c-tertiary);
  color: var(--c-text-inverse);
  padding: var(--spacing);
}

.information-box__content {
  padding: 0 var(--spacing);
}

@include medium {
  .information-box {
    margin-top: var(--spacing-larger);
    margin-bottom: var(--spacing-larger);
  }

  .information-box__title {
    padding: var(--spacing) var(--spacing-mega);
  }

  .information-box__content {
    padding: 0 var(--spacing-mega);
  }
}
